.who-we-are {
  &__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;

    @include on-tablet {
      gap: $spacing-sm;
    }

    @include on-small-desktop {
      max-width: $mw-content-md;
    }

    @include on-design {
      max-width: $mw-content-lg;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__description {
    margin: 0;
    text-align: center;
    font-size: $fs-22;
    font-weight: $font-weight-semibold;

    @include on-tablet {
      font-size: $fs-24;
    }
  }
}
